<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hoja de Vida de Zephora</title>
</head>
<body>
    <h1>Hoja de Vida de Zephora</h1>

    <img src="/static/img/zephora.jpeg" width="300" height="400" alt="Foto de Zephora">

    <h2>Datos Generales</h2>
    <ul>
        <li>Nombre: Zephora</li>
        <li>Edad: 5 meses</li>
        <li>Raza: Gata criolla</li>
        <li>Color: Gris con manchas blancas</li>
        <li>Dueña: María</li>
    </ul>

    <h2>Cualidades</h2>
    <p>Zephora es una gata curiosa, juguetona y muy amorosa. Le encanta dormir en lugares pequeños y despertar a su amo en las mañanas .</p>

    <h2>Habilidades</h2>
    <ul>
        <li>Correr todo el dia</li>
        <li>Atrapar objetos con la boca</li>
        <li>Detectar la hora para despertar al amo</li>
    </ul>

    <h2>Pasatiempos</h2>
    <ul>
        <li>Perseguir sus hermanos gatunos</li>
        <li>Jugar con residuos de hojas</li>
        <li>Dormir en cajas o encima de su amo</li>
    </ul>

    <h2>Contacto</h2>
    <p>Para saber más sobre zephora, contacta a su amo en whatsapp:</p>
    <a href="https://wa.link/maeniz" target="_blank">whatsapp amo de Zephora</a>
</body>
</html>
